h1{
  color:white;
  font-size: 60px;
  text-align: center;
  background-color: red;
  width: 100%;
  padding: 20px 0; /* Adds spacing to the top and bottom */
  box-sizing: border-box;
}

/* "*" means I am gonna style everything in this website with this styling*/
*{
  margin: 0;
  padding: 0;
}

body{
  background-color:grey;
}

nav{
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 70px;
}

ul li a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: arial;
  color: black;
  padding: 0 80px;
}

ul li a:hover{
  background-color: #F0F2F4;
  color: red;
}

.img-home{
  width: 100%;
  max-width: 1520px; /* Ensures image does not exceed this width */
  height: auto; /* Maintains image aspect ratio */
  display: block;
  margin: 0 auto; /* Centers the image */
}
